<div class="show-container" style="width:50%; margin: 20px auto;">
	<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">マイページ</h4>
	<h4>登録情報<%= link_to '編集する', edit_public_customers_path, class:"btn btn-info" %></h4>

	<table class="table table-condensed">
		<tbody>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">氏名</th>
				<td><%= @customer.last_name %> <%= @customer.first_name %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">カナ</th>
				<td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">郵便番号</th>
				<td>〒 <%= @customer.postal_code %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">住所</th>
				<td><%= @customer.address %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">電話番号</th>
				<td><%= @customer.telephone_number %></td>
			</tr>
			<tr>
				<th style="background-color: #dad7d7; border-bottom: 1px solid #fff;">メールアドレス</th>
				<td style="border-bottom: 1px solid #dad7d7;"><%= @customer.email %></td>
			</tr>

		</tbody>
	</table>

	<hr>
	<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">配送先</h4>
		<%= link_to public_addresses_path do %>
			一覧を見る<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
	<hr>
	<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">注文履歴</h4>
		<%= link_to public_orders_path(id: @customer.id) do %>
			一覧を見る<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
	<hr>
</div>