<div class="show-container" style="width:50%; margin: 20px auto;">

	<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>

<table class="table table-condensed">
	<tr>
		<th style="background: #dad7d7; border-bottom: 1px solid #fff;">会員ID</th>
		<td><%= @customer.id %></td>
	</tr>
	<tr>
		<th style="background: #dad7d7; border-bottom: 1px solid #fff;">氏名</th>
		<td><%= @customer.last_name %> <%= @customer.first_name %></td>
	</tr>
	<tr>
		<th style="background: #dad7d7; border-bottom: 1px solid #fff;">フリガナ</th>
		<td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
	</tr>
	<tr>
		<th style="background: #dad7d7; border-bottom: 1px solid #fff;">郵便番号</th>
		<td>〒<%= @customer.postal_code %></td>
	</tr>
	<tr>
		<th style="background: #dad7d7; border-bottom: 1px solid #fff;">住所</th>
		<td>〒<%= @customer.address %></td>
	</tr>
	<tr>
		<th style="background: #dad7d7; border-bottom: 1px solid #fff;">電話番号</th>
		<td><%= @customer.telephone_number %></td>
	</tr>
	<tr>
		<th style="background: #dad7d7; border-bottom: 1px solid #fff;">メールアドレス</th>
		<td style="border-bottom: 1px solid #dad7d7;"><%= @customer.email %></td>
	</tr>
	<tr>
			<td>
		<% @customer.id %>
		<% if @customer.is_deleted == false %>
			<td><span class="badge" style="background:green">有効</span></td>
		<% else %>
			<td><span class="badge" style="background:red">退会</span></td>
		<% end %>
		</td>
	</tr>
</table>
<hr>
		<%= link_to edit_admin_customer_path do %>
					<span class="btn btn-info" style="display:inline-block;">編集する</span>
		<% end %>
		<%= link_to admin_path(id: @customer.id) do %>
					<span class="btn btn-success" style="display:inline-block;">注文履歴一覧を見る</span>
		<% end %>

</div>