<div class="row" style="width: 90%; margin: 20px auto;">
	<img src="/assets/tart1" alt="非表示", class="eyecatch">
		<h1>itemS</h1>
		<span ><strong>ジャンルで検索</strong></span>
			<% @genres.each do |genre| %>
	 				<%= link_to root_path(genre: genre.id) do %>
	 					<span style = "background-color: #2D714C" class="badge"><%= genre.name %></span>
	 				<% end %>
   		 		<% end %>

   		 <div class="row">
			<% @items.each do |item| %>
					<div class="col-xs-3 each_item">
						<%= link_to public_item_path(item) do %>
						  <% if item.image.attached? %>
						    <%= image_tag item.image, size: "100x100" %>
						  <% else %>
						    <%= image_tag 'no_image', size: "100x100" %>
						  <% end %>
						<% end %>
						<%= item.name %>
						<%= item.price %>円<br>
						<%= item.introduction%>
					</div>
			<% end %>
		</div>
	</div>