		<h1>商品一覧</h1>
<div class="row" style="width: 80%; margin: 20px auto;">


   	<div class="row">
			<% @items.each do |item| %>
					<div class="col-xs-3 each_item">
						<%= link_to public_item_path(item) do %>
						  <% if item.image.attached? %>
						    <%= image_tag item.image, size: "100x100" %>
						  <% else %>
						    <%= image_tag 'no_image', size: "100x100" %>
						  <% end %>
						  <br>
						  <%= item.name %>
					<% end %>
            <br>
						<%= item.price %>円
					</div>
			<% end %>
		</div>
	</div>